<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.201\DotnetTools\dotnet-watch\7.0.201-servicing.23116.14\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44310/IO.Swagger/,ws://localhost:52233/IO.Swagger/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwNUYZF6YHtT0hBnqYlFAijyLr4fJLMFEzBvVCB70+CLj+JG+blGXWBIK94/YL+crn9qVNmeWS1b7wlFlajjQ6MoX2jFVoYew5TChF+dLKnKw1lp6U8cQ4yKj1nZP9aZNwRWT4qHQhXTo2zubChQQGbl0LDUZKHDBcHRLMRkqkqEBBzLPKHDfuvHfAio5uxZg6xt0lWPjVxv1UDBzRkplX7iINEWIu3veAtUwSe1dGyDY12itggL8C5kPt9ZUmHy9FSFYT4GA+0t6M3JhV+LkU2g/eD9/Vewe/VcLxfQrFyrwcYgTJAW+vn3bW+S+ctm30qhPV5QjTqAnJO3x001A9QIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>