<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.201\DotnetTools\dotnet-watch\7.0.201-servicing.23116.14\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44397/IO.Swagger/,ws://localhost:52266/IO.Swagger/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApl89frzojzHK04GdxBBg2K/YPjDxS5yizxVe1vDgxYxWNmkB/JmsctGozIO/4W//V8IHmkCFwJUnblOMz69QDuBIoGxO+6YndYbapJzxl7FcgSwoxvWlgsxdJbf5/GZiOudDFIHuApcvZgVnf2S9W7RwTf5rCd2kJAQoq5QSmOgkbErRQmqHEu6J1a+aBXMP2vhHTwWTpCbkfOU41ZVVZKJEO2XVmlLBw/J0ZLOaxEZ2SJap+jzsNm6A/06nDldjTThs1/VkmZeUjjsLKVy8iFpkKp8MWC2EpjxgpAV0AJ6O1c2ZZPmqRixtThyR1gmXeqEPvbxF9v2nIsUhcVUvGQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>